.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1144px;
}

/* TOP HEADER */

header {
  text-align: center;
  padding: 1em 0;
}

header h1 {
  margin-bottom: 0.3em;
  color: var(--clr-accent--200);
}

/* LEFT SIDE NAV  */

.nav {
  margin-top: 1.5em;
  padding: 0 2em;
  min-width: 200px;
}

.nav-limit-item {
  border: 1px solid;
  border-color: --crl-primary--100;
  padding: 0.5em 0.7em;
}

.nav-limit-item:hover {
  cursor: pointer;
}

.nav-limit-item + .nav-limit-item {
  margin-left: 1em;
}

.nav-category-item {
  margin: 0.5em 0;
}

/* GRID LIST  */

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 1em;
}

.grid-item {
  padding: 0.5em;
  flex-basis: 33.33%;
  min-width: 250px;
  position: relative;
  -ms-flex: auto;
}

.grid-item-wrapper {
  background-color: var(--clr-secondary--100);
  padding: 1em 1em;
  border-radius: 5px;
}

@media (max-width: 1310px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}
@media (max-width: 1244px) {
  .grid-item {
    flex-basis: 50%;
  }
}
@media (max-width: 930px) {
  .grid-item {
    flex-basis: 100%;
  }
}

/* GRID LIST ITEM */

.icon-container {
  width: 40%;
  justify-content: space-between;
}

.category {
  font-weight: 300;
}

.bg-gauge {
  margin-top: 1em;
  height: 5px;
  width: 40%;
  background-color: var(--clr-accent--100);
}

.gauge {
  height: 100%;
  background-color: var(--crl-primary--200);
}

/* PAGINATION */

.pagination {
  margin-top: 1em;
  width: 20%;
  min-width: 100px;
}

.pagination-item {
  border: 1px solid;
  border-color: --crl-primary--100;
  padding: 0.4em 0.6em;
}

.pagination-item + .pagination-item {
  margin-left: 1em;
}

.pagination-item:hover {
  cursor: pointer;
}

/* UTILITARIES */

.mb-2 {
  margin-bottom: 2em;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.row--start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.row--col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.col {
  display: flex;
}

.col-list {
  display: flex;
  flex: 1;
}
