@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #191919;
  font-family: "Roboto Condensed", sans-serif;
  color: #909090;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2,
.category {
  font-size: 1.125rem;
}

h2 {
  font-weight: 700;
  color: white;
}

.category {
  font-weight: 300;
}

.mb-2 {
  margin-bottom: 2em;
}
